#carousel-slides {
    min-height: 8em;
}

.carousel-inner, .carousel-item {
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-control-prev, .carousel-control-prev a {
    color: unset !important;
    background: unset !important;
}

.carousel-item {

}

.quote {
    font-family: courier-prime, monospace;
    font-style: italic;
    font-weight: lighter;
    display: inline-block;
    line-height: 1.3em;
    margin-bottom: 0.35em;
}

.attribution {
    font-family: courier-prime, monospace;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.25rem;
}

.blockquote {
    margin: 0 auto;
}