.gradient-text {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(blue, green);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip:text;
padding-bottom: .25em;
}

.border-gradient {
    border: .25em solid;
    border-image-slice: 1;
    border-width: .25em;
}

.gradient-to-top-right {
    background-image: linear-gradient(45deg, 45deg);
}

.gradient-to-bottom-right {
    background-image: linear-gradient(45deg, -45deg);
}

/* BLUE GRADIENTS */
.blue-to-blue {
    background-color: #007ABB;
    background-image: linear-gradient(45deg, #007ABB, #007ABB);
}

.blue-to-green {
    background-color: #007ABB;
    background-image: linear-gradient(45deg, #007ABB, #008566);
}

.blue-to-orange {
    background-color: #007ABB;
    background-image: linear-gradient(45deg, #007ABB, #D84806);
}

.blue-to-pink {
    background-color: #007ABB;
    background-image: linear-gradient(45deg, #007ABB, #D20098);
}

.blue-to-purple {
    background-color: #007ABB;
    background-image: linear-gradient(45deg, #007ABB, #944A9C);
}


/* GREEN GRADIENTS */

.green-to-blue {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #007ABB);
}

.green-to-green {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #008566);
}

.green-to-orange {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #D84806);
}

.green-to-pink {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #D20098);
}

.green-to-purple {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #944A9C);
}

.green-to-purple-border {
    background-color: #008566;
    background-image: linear-gradient(45deg, #008566, #944A9C);
}


/* ORANGE GRADIENTS */

.orange-to-blue {
    background-color: #D84806;
    background-image: linear-gradient(45deg, #D84806, #007ABB);
}

.orange-to-green {
    background-color: #D84806;
    background-image: linear-gradient(45deg, #D84806, #008566);
}

.orange-to-orange {
    background-color: #D84806;
    background-image: linear-gradient(45deg, #D84806, #D84806);
}

.orange-to-pink {
    background-color: #D84806;
    background-image: linear-gradient(45deg, #D84806, #D20098);
}

.orange-to-purple {
    background-color: #D84806;
    background-image: linear-gradient(45deg, #D84806, #944A9C);
}


/* PINK GRADIENTS */

.pink-to-blue {
    background-color: #D20098;
    background-image: linear-gradient(45deg, #D20098, #007ABB);
}

.pink-to-green {
    background-color: #D20098;
    background-image: linear-gradient(45deg, #D20098, #008566);
}

.pink-to-orange {
    background-color: #D20098;
    background-image: linear-gradient(45deg, #D20098, #D84806);
}

.pink-to-pink {
    background-color: #D20098;
    background-image: linear-gradient(45deg, #D20098, #D20098);
}

.pink-to-purple {
    background-color: #D20098;
    background-image: linear-gradient(45deg, #D20098, #944A9C);
}

/* PURPLE GRADIENTS */

.purple-to-blue {
    background-color: #944A9C;
    background-image: linear-gradient(45deg, #944A9C, #007ABB);
}

.purple-to-green {
    background-color: #944A9C;
    background-image: linear-gradient(45deg, #944A9C, #008566);
}

.purple-to-orange {
    background-color: #944A9C;
    background-image: linear-gradient(45deg, #944A9C, #D84806);
}

.purple-to-pink {
    background-color: #944A9C;
    background-image: linear-gradient(45deg, #944A9C, #D20098);
}

.purple-to-purple {
    background-color: #944A9C;
    background-image: linear-gradient(45deg, #944A9C, #944A9C);
}

/* BORDER GRADIENTS */

/* BORDER BLUE GRADIENTS */
.border-blue-to-blue {
    border-color: #007ABB;
    border-image-source: linear-gradient(45deg, #007ABB, #007ABB);
}

.border-blue-to-green {
    border-color: #007ABB;
    border-image-source: linear-gradient(45deg, #007ABB, #008566);
}

.border-blue-to-orange {
    border-color: #007ABB;
    border-image-source: linear-gradient(45deg, #007ABB, #D84806);
}

.border-blue-to-pink {
    border-color: #007ABB;
    border-image-source: linear-gradient(45deg, #007ABB, #D20098);
}

.border-blue-to-purple {
    border-color: #007ABB;
    border-image-source: linear-gradient(45deg, #007ABB, #944A9C);
}


/* BORDER GREEN GRADIENTS */

.border-green-to-blue {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #007ABB);
}

.border-green-to-green {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #008566);
}

.border-green-to-orange {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #D84806);
}

.border-green-to-pink {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #D20098);
}

.border-green-to-purple {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #944A9C);
}

.border-green-to-purple-border {
    border-color: #008566;
    border-image-source: linear-gradient(45deg, #008566, #944A9C);
}


/* BORDER ORANGE GRADIENTS */

.border-orange-to-blue {
    border-color: #D84806;
    border-image-source: linear-gradient(45deg, #D84806, #007ABB);
}

.border-orange-to-green {
    border-color: #D84806;
    border-image-source: linear-gradient(45deg, #D84806, #008566);
}

.border-orange-to-orange {
    border-color: #D84806;
    border-image-source: linear-gradient(45deg, #D84806, #D84806);
}

.border-orange-to-pink {
    border-color: #D84806;
    border-image-source: linear-gradient(45deg, #D84806, #D20098);
}

.border-orange-to-purple {
    border-color: #D84806;
    border-image-source: linear-gradient(45deg, #D84806, #944A9C);
}


/* BORDER PINK GRADIENTS */

.border-pink-to-blue {
    border-color: #D20098;
    border-image-source: linear-gradient(45deg, #D20098, #007ABB);
}

.border-pink-to-green {
    border-color: #D20098;
    border-image-source: linear-gradient(45deg, #D20098, #008566);
}

.border-pink-to-orange {
    border-color: #D20098;
    border-image-source: linear-gradient(45deg, #D20098, #D84806);
}

.border-pink-to-pink {
    border-color: #D20098;
    border-image-source: linear-gradient(45deg, #D20098, #D20098);
}

.border-pink-to-purple {
    border-color: #D20098;
    border-image-source: linear-gradient(45deg, #D20098, #944A9C);
}

/* BORDER PURPLE GRADIENTS */

.border-purple-to-blue {
    border-color: #944A9C;
    border-image-source: linear-gradient(45deg, #944A9C, #007ABB);
}

.border-purple-to-green {
    border-color: #944A9C;
    border-image-source: linear-gradient(45deg, #944A9C, #008566);
}

.border-purple-to-orange {
    border-color: #944A9C;
    border-image-source: linear-gradient(45deg, #944A9C, #D84806);
}

.border-purple-to-pink {
    border-color: #944A9C;
    border-image-source: linear-gradient(45deg, #944A9C, #D20098);
}

.border-purple-to-purple {
    border-color: #944A9C;
    border-image-source: linear-gradient(45deg, #944A9C, #944A9C);
}