#top-nav {
    padding: 0.5em;
}

#top-nav, #secondary-nav {
    color: #ffffff;
    font-weight: normal !important;
    letter-spacing: 0.1em;
    text-decoration: none !important;
}

#top-nav a:hover, #secondary-nav a:hover {
    font-weight: normal;
}

#top-nav ul, #top-nav ol, #secondary-nav ul, #secondary-nav ul {
    display: block;
    font-size: 0.9em;
    padding: 0;
    margin: 0;
    list-style: none;
}

#top-nav ul li, #secondary-nav ul li {
    display: inline-block;
}


#top-nav ul > li, #top-nav .section_name, #secondary-nav ul > li, #secondary-nav .section_name {
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    line-height: 0.85em;
}

#top-nav ul ul > li, #secondary-nav ul ul > li {
    text-transform: unset;
    font-weight: 400;
    display: inline;
}


ul + li {
    margin-top: 0.45em;
}

#secondary-nav {
    word-wrap: break-word;
    display: inline-block;
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    background-color: #fff;
    z-index: 100;
}

.stack-vertical {

    width: 1em;
    word-wrap: break-word;
    display: inline-block;

}

.stack-vertical span, .stack-vertical ul li {
    display: block;
}

