$blue: #007ABB;
$green: #008566;
$orange: #D84806;
$pink: #D20098;
$purple: #944A9C;
$white: #ffffff;
$yellow: #ffcc00;

$colors: (
        "blue": $blue,
        "green": $green,
        "orange": $orange,
        "pink": $pink,
        "purple": $purple,
        "white": $white
);
